<!DOCTYPE html>
<html lang="kr">

<head>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>About wordCount site</title>
</head>

<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="{% url 'home' %}">Home</a></li>
            <li role="presentation"><a href="{%url 'about' %}">About</a></li>
        </ul>
        <div class="jumbotron">
            <h2>This service counts words.</h2>
            <h3>"Result" page show below things.</h3>
            <ol type="1">
                <h3><li>Total words</li></h3>
                <h3><li>Input text</li></h3>
                <h3><li>word : count</li></h3>
            </ol>
        </div>
    </div>
</body>

</html>