<!DOCTYPE html>
<html lang="kr">
<head>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Django wordcount</title>
</head>

<body>
    <div class="container">
            <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="{%url 'home'%}">Home</a></li>
                    <li role="presentation"><a href="{%url 'about' %}">About</a></li>
                  </ul>
    <h1>Hello, This page counts words.</h1>
    <p>Write the text below the blank</p>
    <!-- 해당 url로 데이터 전달 -->
    <form action="{%url 'result' %}">
        <textarea cols="100" rows="20" name="fulltext"></textarea>
        <br>
        <input type="submit" value="Count Right Now!">
    </form>
    </div>
</body>

</html>